<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Add Book </title>
</head>
<body>
    <h1> Add a New Book </h1>

    <form method = 'post'>
        {% csrf_token %}

        <label> Title: </label><br>
        <input type = 'text' name = 'title' required><br><br>

        <label> Author: </label><br>
        <input type = 'text' name = 'author' required><br><br>

        <button type = 'submit'> Add Book </button>
    </form>

    <br>
    <a href = {% url 'list-books' %}> Back to Book List</a>

</body>
</html>
