<!-- list_books.html -->
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> List of Books </title>
</head>
<body>
    <h1> Books Available </h1>
    <ul>
        {% for book in books %}
        <li>{{book.title}} by {{book.author.name}}</li>
        {% endfor %}
    </ul>
    <p>
    <!--a href = "{% url "logout" %}">Logout</a-->
    <form method = "post" action = "{% url 'logout' %}">
        {% csrf_token %}
        <button type = 'submit'>Logout</button>
    </form>
    </p>
</body>
</html>
